<br/>

<% post.comments.forEach(function(comment, index){ %>
<div class="comment">
	<p class="info"><a href="<%= comment.website %>"><%= comment.name %> </a>
	<span class="info">回复与 <%= comment.time %> </span></p>

	<div class="content">
		<%- comment.content %>
	</div>
</div>
<% }) %>

<form method="post">
<% if(user){ %>
	姓名：<input type="text" name="name" value="<%= user.name %>" /><br/>
	邮箱：<input type="text" name="email" value="<%= user.email %>" /><br/>
	网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br/>
<% }else{ %>
	姓名：<input type="text" name="name" /><br />
	邮箱：<input type="text" name="email" /><br />
	网址：<input type="text" name="website" /><br />
<% } %>
<textarea name="content" rows="5" cols="80"></textarea><br/>
<input type="submit" value="留言" />

</form>