<%- include header %>

<% posts.forEach(function(post, index){ %>
	<h2><a href="/u/<%= post.name %>"><%= post.name %></a></h2>

	<p class="info">
		作者：<a href="/u/<%= post.name %>"><%= post.name %></a>&nbsp; | &nbsp;
		日期: <%= post.time.minute %>&nbsp; | &nbsp;
		<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">查看</a>
	</p>

	<div class="article">
		<%- post.post %>
	</div>
<% }) %>


<%- include paging %>
<%- include footer %>
